@media (min-width: 1440px) {
  .titl{
    margin-top: 520px;
  }
  .headd h1{
    font-size: 53px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 70%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 250px;
  }
  .center{
    width: 1440px;
  }
  .clouds{
    margin-left: 1050px;
  }
  .cloudss{
    margin-left: 100px;
  }
  .colc{
    width: 350px;
    height: 200px;
  }
  .btn{
    font-size: 20px;
  }
  .fig1{
    margin-left: 25px;
  }
  .fig2{
  margin-left: 1100px;
  }
  .iconlogo{
    margin-left: 1270px;
    margin-top: -240px;
  }
  .iconlogo img.iframe{
    width: 100px;
    height: auto;
  }
}



@media (min-width: 1200px) {
  .titl{
    margin-top: 480px;
  }
  .headd h1{
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 72.5%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 210px;
  }
  .center{
    width: 1200px;
  }
  .clouds{
    margin-left: 850px;
  }
  .cloudss{
    margin-left: 80px;
  }
  .iframe{
    max-height: 200px;
  }
  .colc{
    width: 320px;
    margin-top: 120px;
  }
  .btn{
    font-size: 19px;
  }
  .fig2{
    margin-left: 900px;
    margin-top: 600px;
  }
  .iconlogo{
    margin-left: 1070px;
    margin-top: -200px;
  }
  .iconlogo img.iframe{
    width: 100px;
    height: auto;
  }
  .texx{
    margin-top: 235px;
    font-size: 1.8vw;
  }
  .tex{
    font-size: 1.8vw;
  }
}



@media(min-width: 992px){
  .titl{
    margin-top: 480px;
  }
  .headd h1{
    font-size: 37px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 72.5%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 180px;
    margin-top: 50px;
  }
  .center{
    width: 992px;
  }
  .clouds{
    margin-left: 650px;
  }
  .cloudss{
    margin-left: 80px;
  }
  .iframe{
    max-height: 160px;
  }
  .colc{
    width: 320px;
    margin-top: 200px;
  }
  .btn{
    font-size: 16px;
  }
  .fig2{
    margin-left: 740px;
    margin-top: 600px;
  }
  .iconlogo{
    margin-left: 870px;
    margin-top: -220px;
  }
  .iconlogo img.iframe{
    width: 100px;
    height: auto;
  }
  .texx{
    margin-top: 235px;
    font-size: 1.8vw;
  }
  .tex{
    font-size: 1.8vw;
  }
  .fig1{
  width: 30%;
  }
}



@media(min-width: 768px){
  .titl{
    margin-top: 480px;
  }
  .headd h1{
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 72.5%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 160px;
    margin-top: 50px;
  }
  .center{
    width: 992px;
    margin-top: -80px;
  }
  .clouds{
    margin-left: 650px;
    max-width: 20%;
  }
  .cloudss{
    margin-left: 80px;
  }
  .iframe{
    max-height: 120px;
  }
  .colc{
    width: 320px;
    margin-top: 300px;
  }
  .btn{
    font-size: 16px;
  }
  .fig2{
    margin-left: 570px;
    margin-top: 600px;
  }
  .iconlogo{
    margin-left: 670px;
    margin-top: -200px;
  }
  .iconlogo img.iframe{
    width: 80px;
    height: auto;
  }
  .texx{
    margin-top: 135px;
    font-size: 1.8vw;
  }
  .tex{
    font-size: 1.8vw;
  }
  .fig1{
  width: 30%;
  }
}



@media(min-width: 480px){
  .titl{
    margin-top: 480px;
  }
  .headd h1{
    margin-top: -440px;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 72.5%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 120px;
    margin-top: 50px;
  }
  .center{
    width: 992px;
    margin-top: -80px;
  }
  .clouds{
    opacity: 0;
  }
  .cloudss{
    opacity: 0;
  }
  .iframe{
    max-height: 120px;
  }
  .colc{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .btn{
    font-size: 16px;
    margin-left: 20px;
  }
  .fig2{
    margin-left: 370px;
    margin-top: 500px;
  }
  .iconlogo{
    margin-left: 400px;
    margin-top: -170px;
  }
  .iconlogo img.iframe{
    width: 60px;
    height: auto;
  }
  .texx{
    margin-left: -75px;
    margin-right: -75px;
    margin-top: 435px;
    font-size: 1.8vw;
  }
  .tex{
    font-size: 1.8vw;
    margin-left: -75px;
    margin-right: -75px;
  }
  .fig1{
  width: 30%;
  }
}



@media(min-width: 320px){
  .titl{
    margin-top: 480px;
  }
  .headd h1{
    margin-top: -440px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(255, 255, 255);
    animation: typewriter 3s steps(38) infinite alternate,
    blink 800ms steps(38) infinite normal;
    border-right: 3px solid rgb(49, 48, 48);
  }
  @keyframes typewriter {
    from {
        width: 0%;
    }
  
    to {
        width: 72.5%;
        box-shadow: -2px 2px 6px 5px rgba(22, 22, 22, 0.5)
    }
  }
  
  @keyframes blink {
    from {
        border-color: rgb(0, 0, 0);
    }
  
    to {
        border-color: transparent;
    }
  }
  .image{
    width: 80px;
    margin-top: 50px;
  }
  .center{
    width: 992px;
    margin-top: -80px;
  }
  .clouds{
    opacity: 0;
  }
  .cloudss{
    opacity: 0;
  }
  .iframe{
    max-height: 100px;
  }
  .colc{
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .btn{
    font-size: 14px;
    margin-left: 10px;
  }
  .fig2{
    margin-left: 250px;
    margin-top: 220px;
  }
  .iconlogo{
    margin-left: 285px;
    margin-top: -175px;
  }
  .iconlogo img.iframe{
    width: 30px;
    height: auto;
  }
  .texx{
    margin-left: -120px;
    margin-right: -120px;
    margin-top: 435px;
    font-size: 1.8vw;
  }
  .tex{
    font-size: 1.8vw;
    margin-left: -120px;
    margin-right: -120px;
  }
  .fig1{
  width: 30%;
  }
  .texx h2{
    margin-bottom: 10px;
  }
}